fastapi
uvicorn

#for databases
#
# psycopg2: 
# sudo apt install python3-dev libpq-dev
# 

sqlalchemy
psycopg2

# for env-var
python-dotenv

# for email validation
pydantic[email]

# for hashing
passlib[bcrypt]

# for testing
pytest
requests
pytest-cov